body{
    background-color: rgb(255, 255, 255);
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 99vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}

.navtext{
    color: black;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    margin-top: 1.5%;
    margin-left: 15%;
}

.navtext2{
    color: black;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    margin-top: 1.5%;
    margin-left: 5%;
}


.navtext3{
    color: black;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    margin-top: 1.5%;
    padding-left: 40%;
}

.navtext4{
    color: black;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    margin-top: 1.5%;
    padding-left: 5%;
}


.quadrado {
    margin-top: 4.9%;
    background: rgb(29, 29, 29);
    width: 98.5vw;
    height: 85vh;
}

#video{
    margin-top: 3%;
    margin-left: 18%;
}

#keyboardname{
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', monospace;
    font-weight: 800;
    font-size: 38px;
    padding: 5%;
    margin-left: 55%;
    margin-top: -40%;

}
.baseparagraph{
    color: rgb(231, 231, 231);
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    padding: 5%;
    margin-left: 55%;
    margin-top: -10%;
}

.button {
    color: #212121;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    background-color: #ffbc0e;
    border-radius: 8px;
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30%;
}

.quadrado2{
    margin-left: 18%;
    margin-top: 2%;
    background: rgb(255, 255, 255);
    width: 37vw;
    height: 20vh;
    border-radius: 10px;
}

#avaliatorpicture{
    margin-left: 5%;
    margin-top: 4%;
    width: 7vw;
    height: 14vh;
}

#avaliation{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    margin-left: 30%;
    margin-top: -16%;
}

#avaliatorname{
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    margin-left: 30%;
    margin-top: -20%;
}

.quadrado3{
    margin-top: 0%;
    background: rgb(255, 0, 0);
    width: 98.5vw;
    height: 7vh;
}


.quadrado4{
    margin-top: 0%;
    background:  rgb(228, 228, 228);
    width: 98.5vw;
    height: 50vh;
}

#keyboardimage{
    width: 50vw;
    height: 50vh;
}

.keyspec{
    color: rgb(22, 22, 22);
    font-family: 'Space Mono', monospace;
    font-weight: 800;
    font-size: 18px;
    padding: 5%;
    margin-left: 45%;
    margin-top: -27%;

}

